<!DOCTYPE html>
<html lang="ko" th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::h3}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>면접 응시</title>
</head>
<body>

<h3 class="text-dark mb-4">면접 응시</h3>

<div class="card shadow">
  <div class="card-body">
    <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
      <table id="dataTable" class="table my-0">
        <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일자</th>
          <th>문제 수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mockexam: ${mockExams}">
          <td><a th:text="${mockexam.id}" th:href="@{/mockexam/select/exam/{id}/ready(id=${mockexam.id})}"></a></td>
          <td><a th:text="${mockexam.title}" th:href="@{/mockexam/select/exam/{id}/ready(id=${mockexam.id})}"></a></td>
          <td><a th:text="${mockexam.maker.name}" th:href="@{/mockexam/select/exam/{id}/ready(id=${mockexam.id})}"></a></td>
          <td><a th:text="${#temporals.format(mockexam.createdDate, 'yyyy-MM-dd')}" th:href="@{/mockexam/select/exam/{id}/ready(id=${mockexam.id})}"></a></td>
          <td><a th:text="${mockexam.getQuestions().size()}" th:href="@{/mockexam/select/exam/{id}/ready(id=${mockexam.id})}"></a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-6 align-self-center">
        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite" th:text="|총 ${totalExam}개|"></p>
      </div>
      <div class="col-md-6">
        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
          <ul class="pagination">
            <li th:each="i : ${#numbers.sequence(1, totalPage, 1)}" class="page-item">
              <a class="page-link" th:href="@{/mockexam/select/lists(page=${i - 1})}" th:text="${i}"></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

</body>
</html>